<div style="width: 50%; margin: auto; margin-top: 50px;" *ngIf="state.state">
    <label for="password" style="display: block; margin-bottom: 5px; margin-left: 5px;">Password</label>
    <div class="input-group flex-nowrap mb-4">
        <input #txtPassword type="email" name="password" id="password" class="form-control" placeholder="Password" aria-describedby="addon-wrapping">
    </div>
    <label for="passwordConfirm" style="display: block; margin-bottom: 5px; margin-left: 5px;">Password Confirm</label>
    <div class="input-group flex-nowrap">
        <input #txtPasswordConfirm type="email" name="passwordConfirm" id="passwordConfirm" class="form-control" placeholder="Password Confirm" aria-describedby="addon-wrapping">
    </div>
    <button (click)="updatePassword(txtPassword.value,txtPasswordConfirm.value)" class="btn btn-primary mt-3" style="display: block;">Şifreyi Güncelle</button>
</div>

<div class="alert alert-danger" role="alert" *ngIf="!state.state">
 Şifre doğrulama talebi geçersizdir !!!
</div>