.listProductContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
   justify-content: center ;
}
.pagination{
    width: 300px;
    margin: 20px auto 20px auto  ;
   
}
.filter-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 2em;
}