<div class="listProductContainer" >
    <div class="card" style="width: 18rem;" *ngFor="let product of products" >
      <img *ngIf="!product.imagePath" src="../../../../../assets/defaultProductİmage.png" style="width: 200px; height: 200px;margin: auto " class="card-img-top" alt="...">
      <img *ngIf="product.imagePath " src="{{baseUrls}}/{{product.imagePath}}" style="width: 200px; height: 200px;margin: auto " class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="card-title">{{product.name}}</h3>
          <p class="card-text">Fiyat : {{product.price | currency:'₺'}} <br/> Stok : {{product.stock}}</p>
          <a href="#" class="btn btn-success">Sepete Ekle</a>
        </div>
      </div>
      
</div>
<nav aria-label="Page navigation example" class="pagination">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" [routerLink]="['/products',currentPageNo -1 <=0 ? 1 :currentPageNo-1]" >Önceki</a></li>
      <li class="page-item "routerLinkActive="active" *ngFor="let pageNo of pageList" ><a class="page-link" [routerLink]="['/products',pageNo]">{{pageNo}}</a></li>
      <li class="page-item"><a  class="page-link" [routerLink]="['/products',currentPageNo +1 >=totalPageCount ? totalPageCount :currentPageNo+1]" >Sonraki</a></li>
    </ul>
  </nav>