.product-image-card {
    max-width: 214px;
  }
  
  .product-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .mat-typography{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }