
  mat-form-field {
    width: 100%; /* Genişliği tam ekran yap */
    margin-bottom: 20px; /* Alanlar arasında bir boşluk bırak */
  }
  
 
  .form-container {
   
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  text-align: center;
}