<h2 mat-dialog-title>Sipariş Detayı</h2>
<mat-dialog-content *ngIf="order">

    <div>
        <mat-toolbar style="margin-bottom: 10px;">
            <span>Sipariş Kodu : {{order.orderCode}}</span>
          </mat-toolbar>
        <table  mat-table style="box-shadow: none; border:1px solid black; margin-bottom: 10px;" [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
           
            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Name</th>
                <td mat-cell *matCellDef="let element">{{element.name}}</td>
            </ng-container>

            <!-- price Column -->
            <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef>Price</th>
                <td mat-cell *matCellDef="let element">{{element.price | currency:'₺'}}</td>
            </ng-container>

            <!-- quantity Column -->
            <ng-container matColumnDef="quantity">
                <th mat-header-cell *matHeaderCellDef>Adet</th>
                <td mat-cell *matCellDef="let element">{{element.quantity}}</td>
            </ng-container>

            <!-- totalPrice Column -->
            <ng-container matColumnDef="totalPrice">
                <th mat-header-cell *matHeaderCellDef>Fiyat</th>
                <td mat-cell *matCellDef="let element">{{element.price * element.quantity |currency:'₺'}}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row (click)="clickedRows.add(row)" [class.demo-row-is-clicked]="clickedRows.has(row)"
                *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <div style="display: flex ; flex-direction:  column; gap: 1em;">
            <span>Toplam Fiyat : {{order.totalPrice | currency:'₺'}}</span>
        <span>Adres : {{order.address }}</span>
        <span>Kullanıcı Adı : {{order.userName }}</span>
        <span>Açıklama : {{order.desctiption }}</span>
        </div>

        
    </div>


</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button (click)="close()">Kapat</button>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial  [disabled]="order.isCompleted" (click)="completeOrder(order.id)">Siparişi Tamamlama</button>
</mat-dialog-actions>