mat-list {
    padding: 10px; 
    list-style: none; 
}

mat-list-item {
    border-bottom: 1px solid black; 
}

mat-list-item:last-child {
    border-bottom: none; 
}

mat-list-item a {
  
    padding: 10px; 
    text-decoration: none; 
    color: #333; 
   
}
mat-list-item a:hover {
    color: red;
    
    
}