@import '../node_modules/@angular/material/prebuilt-themes/indigo-pink.css';
*{
   margin: 0px;
   padding: 0px;
}

a{
   text-decoration: none;
}
.n-search{
   width: 45%;
}
@media screen and (max-width: 992px) {
   .n-search{
       width: 100%;
 }
}
.baset-link{
   padding: 8px 0px 8px 0px;
}