@import '../node_modules/@angular/material/prebuilt-themes/indigo-pink.css';
*{
   margin: 0px;
   padding: 0px;
}

a{
   text-decoration: none;
}
.n-search{
   width: 45%;
}
@media screen and (max-width: 992px) {
   .n-search{
       width: 100%;

 }
 
}
.basket-link{
   padding: 12px 0px 8px 0px;
}

.form-container,
.product-create {
  display: flex;
  flex-wrap: wrap;
}


.mat-form-field {
  flex: 1 0 100%; 
  margin-right: 10px; 
}


.mat-list {
  padding: 0;

.mat-list-item {
  margin-bottom: 5px; 
}


@media (max-width: 600px) {
  .form-container,
  .product-create,
  .mat-list {
    flex-direction: column; 
  }
}
}